<div class="form-container">
  <h2>{{ isEditing ? 'Editar Produto' : 'Adicionar Produto' }}</h2>
  <label>Nome:</label>
  <input type="text" [(ngModel)]="product.name" required>

  <label>Unidade:</label>
  <input type="text" [(ngModel)]="product.unit" required>

  <label>Preço:</label>
  <input type="number" [(ngModel)]="product.price" required>

  <div class="activeCheckbox">
    <span>Ativo:</span>
    <input type="checkbox" [(ngModel)]="product.active">
  </div>
  <button (click)="saveProduct()">{{ isEditing ? 'Salvar Alterações' : 'Adicionar Produto' }}</button>
</div>